.about-us {
    scroll-margin: 10vh;
    height: 60vh;
    display: grid;
    grid-template-columns: 20% 1fr 1fr 20%;
    background-color: var(--dark-gray);

    &__title {
        font-size: var(--title);
        padding: 50px 0;
    }

    &__content {
        grid-column: 3/4;
        font-size: var(--content);
        opacity: .7;
    }

    &__image {
        grid-column: 2/3;
        align-self: center;
    }
}

.about-us__container {
    grid-column: 3/4;
    align-self: center;
    text-align: right;
    padding-bottom: 200px;
}

@media(max-width: 1500px) {
    .about-us {
        grid-template-columns: 10% 1fr 1fr 10%;
    }
}

@media(max-width: 1024px) {
    .about-us {
        &__image {
            width: 80%;
        }
    }

    .about-us__container {
        padding-bottom: 100px;
    }
}

@media(max-height: 800px) {
    .about-us {
        &__image {
            width: 50%;
        }
    }
}

@media (max-width: 736px) {
    .about-us {
        height: 90vh;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

        &__container {
            text-align: center;
            margin: 0 10%;
            padding: 20px 0;
        }

        &__title {
            font-size: var(--phone-title);
            padding: 20px 0;
        }

        &__content {
            font-size: var(--phone-content);
        }

        &__image {
            width: 60%;
            padding: 20px 0;
            // margin-bottom: 25px;
        }
    }
}